aioamqp==0.10.0
aioconsole==0.3.1
aioqueue==0.3.0
autopep8==1.5.4
janus==0.6.1
netifaces==0.10.9
numpy==1.19.4
pycodestyle==2.6.0
pygame==2.0.1
pygame-gui==0.5.7
pygame-menu==3.5.5
pyperclip==1.8.1
simple-term-menu==0.10.4
toml==0.10.2
u-msgpack-python==2.4.1
